* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("figma/shubham-dhage-v4wkJKlcb_M-unsplash\ 1.png");
    background-size: cover;
}

.nav-bar {
    height: 75px;
}

nav {
    height: 75px;

}

.nav-bar ul {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 75px;
}

.nav-bar a {
    list-style: none;
    text-decoration: none;
    margin-right: 100px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 81px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}

.img-bx {
    background-color: white;
    width: 50px;
    height: 50px;
    position: relative;
    left: 1295px;
    bottom: 66px;
    border-radius: 50px;
    background-image: url("https://source.unsplash.com/collection/190727/50*50");
    background-repeat: no-repeat;
    background-size: cover;

}

#frame {
    height: 637px;
    width: 1129px;
    position: fixed;
    left: 39px;
    bottom: 19px;
}

.side-bar {
    width: 280px;
    height: 280px;
    background-color: grey;
    border-radius: 38px;
    position: fixed;
    top: 217px;
    left: 1209px;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 24px rgb(0 0 0 / 45%);
    backdrop-filter: blur(20px);
    border-radius: 33px;

}

.control {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: #222224;
    position: absolute;
    top: 24px;
    left: 26px;
}

#arrow-up {
    position: absolute;
    top: 20px;
    left: 88px;
}

#arrow-down {
    position: absolute;
    top: 157px;
    left: 90px;
}


#arrow-left {
    position: absolute;
    top: 90px;
    right: 155px;
}

#arrow-right {
    position: absolute;
    top: 90px;
    right: 23px;
}

#stop {
    position: absolute;
    top: 89px;
    left: 89px;
}