* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("figma/tesla-cybertruck-4k2019-17.jpg");
    background-size: cover;

}

.nav-bar ul {
    display: flex;
    justify-content: center;
    text-align: center;

}

.nav-bar a {
    list-style: none;
    text-decoration: none;
    margin-right: 100px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 81px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}

#btn-login {
    position: relative;
    bottom: 59px;
    left: 1240px;
    width: 104px;
    height: 34px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 81px;
    text-align: center;
    letter-spacing: 0.04em;
    color: black;
    cursor: pointer;
}